@page
@model HosVet.App.Presentacion.Pages.SignoVitalesModel
@{
}

<h1 style=" text-align: center">Administrar Signos Vitales de Mascotas</h1>
<h2>Lista de Signos Vitales</h2>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Fecha y Hora</th>
      <th scope="col">Signo</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>

  @foreach (var sv in @Model.SignoVitales)
  {
    <tr>
      <td>@sv.FechaHora</td>
      <td>@sv.TipoSigno</td>
      <td>@sv.Valor</td>
    </tr>
  }

</table>
