@page
@using  HosVet.App.Dominio;
@using  HosVet.App.Persistencia;
@model HosVet.App.Presentacion.Pages.SignoVitales.ActualizarModel
@{
}

<h1 style=" text-align: center">Administrar Signos Vitales de Mascotas</h1>
<h2>Formulario Para Actualizar datos de un Signo Vital de una Mascota</h2>
<br><br>

<form method="post">
  <div id="first-group">
    <div class="form-group">
      <label asp-for="signoVital.Id">Id</label>
      <input asp-for="signoVital.Id" type="text" class="form-control" readonly>
    </div>

    <div class="form-group">
      <label asp-for="signoVital.FechaHora">Fecha y Hora</label>
      <input asp-for="signoVital.FechaHora" class="form-control" >
    </div>

    <div class="form-group">
      <label asp-for="signoVital.TipoSigno" >Tipo de Signo</label>
      <select asp-for="signoVital.TipoSigno" class="form-control" asp-items = "Html.GetEnumSelectList<Signo>()"></select>
    </div>

    <div class="form-group">
      <label asp-for="signoVital.Valor">Valor</label>
      <input asp-for="signoVital.Valor" type="text" class="form-control" placeholder="*Escriba el valor del Signo*">
    </div>

    <div class="form-group">
      <label asp-for="mascota.Id">IdMascota</label>
      <input asp-for="mascota.Id" type="text" class="form-control" readonly>
    </div>

    <div class="form-group">
      <label asp-for="mascota.Nombre">Nombre de la Mascota</label>
      <input asp-for="mascota.Nombre" type="text" class="form-control"  readonly>
    </div>
  </div>

  <div class=" p-5 text-center">
    <button type="submit" class="btn btn-success">Actualizar Mascota</button>
    <a asp-page="/SignoVitales/Index" class="btn btn-secondary">Volver</a>
  </div>
</form>