@page
@model HosVet.App.Presentacion.Pages.Auxiliares.NuevoAuxiliarModel
@{
}
<html>
    <head>
        <meta charset="utf-8">
        <title>Nuevo auxiliar</title>
    </head>
    <body>
        <ul class="menu">
            <li><a href="/Auxiliares/Index">Lista de auxiliares</a></li>
            <li><a href="/Auxiliares/NuevoAuxiliar">Nuevo auxiliar</a></li>
        </ul>
        <h1>Formulario para crear un nuevo auxiliar veterinario</h1>
        <form method="post">
            <div class="from-gruop">
                <label asp-for="auxiliarVeterinario.Nombre">Nombre</label>
                <input asp-for="auxiliarVeterinario.Nombre" class="form-control" required="required">
            </div> 
            <div class="from-gropu">
                <label asp-for="auxiliarVeterinario.Apellidos">Apellidos</label>
                <input asp-for="auxiliarVeterinario.Apellidos" class="form-control" required="required">
            </div>
            <div class="from-gropu">
                <label asp-for="auxiliarVeterinario.NumeroTelefono">Numero de telefono</label>
                <input asp-for="auxiliarVeterinario.NumeroTelefono" class="form-control" required="required">
            </div>
            <div class="from-gropu">
                <label asp-for="auxiliarVeterinario.Genero">Genero</label>
                <input asp-for="auxiliarVeterinario.Genero" class="form-control" required="required">
            </div>
            <div class="from-gropu">
                <label asp-for="auxiliarVeterinario.TarjetaProfesional">Tarjeta profesional</label>
                <input asp-for="auxiliarVeterinario.TarjetaProfesional" class="form-control" required="required">
            </div>
            <div class="from-gropu">
                <label asp-for="auxiliarVeterinario.HotasLaborales">Horas laborales</label>
                <input asp-for="auxiliarVeterinario.HotasLaborales" class="form-control" required="required">
            </div>

            <button type="submit" class="btn btn-primary">Crear auxiliar veterinario</button>
        </form>
    </body>
</html>