@page
@model HosVet.App.Presentacion.Pages.Mascotas.ActualizarModel
@{
}

<script>
  function testEventHandler(){
    //var dialogoConfirmacion = confirm("");
    alert("Se ha agregado satisfactoriamente el registro de la Nueva Mascotas");
  }


</script>

<style>
#first-group {
  float: left;
  align-items: center;
  width: 50%;
  padding: 10px;
}
#second-group {
  float: left;
  width: 50%;
  padding: 10px;
}
</style>

<h1 style=" text-align: center">Administrar Registro de Mascotas</h1>
<h2>Formulario Para Actualizar datos de una Mascota</h2>
<br><br>

<form method="post">
  <div id="first-group">
    <div class="form-group">
      <label asp-for="mascota.Id">Id</label>
      <input asp-for="mascota.Id" type="text" class="form-control" readonly>
    </div>

    <div class="form-group">
      <label asp-for="mascota.Nombre">Nombre</label>
      <input asp-for="mascota.Nombre" type="text" class="form-control" >
    </div>

    <div class="form-group">
      <label asp-for="mascota.Direccion">Dirección</label>
      <input asp-for="mascota.Direccion" type="text" class="form-control" >
    </div>

    <div class="form-group">
      <label asp-for="mascota.Ciudad">Ciudad</label>
      <input asp-for="mascota.Ciudad" type="text" class="form-control" >
    </div>

    <div class="form-group">
      <label asp-for="mascota.Latitud">Latitud</label>
      <input asp-for="mascota.Latitud" type="text" class="form-control" >
    </div>
  </div>

  <div id="second-group">
    <div class="form-group">
      <label asp-for="mascota.Longitud">Longitud</label>
      <input asp-for="mascota.Longitud" type="text" class="form-control" >
    </div>

    <div class="form-group">
      <label asp-for="mascota.TipoMascota">Tipo de Mascota</label>
      <input asp-for="mascota.TipoMascota" type="text" class="form-control" >
    </div>

    <div class="form-group">
      <label asp-for="mascota.Raza">Raza</label>
      <input asp-for="mascota.Raza" type="text" class="form-control" >
    </div>

    <div class="form-group">
      <label asp-for="mascota.Peso">Peso</label>
      <input asp-for="mascota.Peso" type="text" class="form-control" >
    </div>

    <div class="form-group">
      <br><br><br>
      <input type="hidden">
    </div>

  </div>

  <div class=" p-5 text-center">
    <button type="submit" class="btn btn-success" onclick="testEventHandler()">Actualizar Mascota</button>
    <a asp-page="/Mascotas/Index" class="btn btn-secondary">Volver</a>
  </div>
</form>